.root {
    background-image: url(./assets/board.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw / 1.71);
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    width: 50.3vw;
    height: 50.3vw;
    top: 4.3vw;
    left: 25.1vw;
}

.boardPlate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
}

.boardPlate:hover {
    background: rgba(255, 255, 255, .1);
}

.boardPlate.disabled:hover {
    background: none;
}

.playerOne {
    position: absolute;
    top: 4.3vw;
    left: 5vw;
    width: 250px;
    height: 50.3vw;
}

.currentPlayerOne.active {
    position: absolute;
    top: 4vw;
    left: 3vw;
    width: 320px;
    height: 51.3vw;
    background-color: rgba(65, 40, 1, 0.5);
    z-index: 0;
}

.playerTwo {
    position: absolute;
    top: 4.3vw;
    right: 5vw;
    width: 250px;
    height: 50.3vw;
}

.currentPlayerTwo.active {
    position: absolute;
    top: 4vw;
    right: 3.8vw;
    width: 320px;
    height: 51.3vw;
    background-color: rgba(65, 40, 1, 0.5);
    z-index: 0;
}